<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @race.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @race.price %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @race.distance %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @race.terrain %>
</p>

<p>
  <strong>Scenic:</strong>
  <%= @race.scenic %>
</p>

<p>
  <strong>Pb:</strong>
  <%= @race.pb %>
</p>

<p>
  <strong>Toilets:</strong>
  <%= @race.toilets %>
</p>

<p>
  <strong>Changingrm:</strong>
  <%= @race.changingrm %>
</p>

<p>
  <strong>Water:</strong>
  <%= @race.water %>
</p>

<p>
  <strong>Medal:</strong>
  <%= @race.medal %>
</p>

<p>
  <strong>Tshirt:</strong>
  <%= @race.tshirt %>
</p>

<p>
  <strong>Website:</strong>
  <%= @race.website %>
</p>

<p>
  <strong>Date:</strong>
  <%= @race.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Area:</strong>
  <%= @race.area %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
